<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.informatexto.bahaisearchweb"
        versionCode="15"
        version   = "1.5.0">

    <!-- versionCode is optional and Android only -->

    <name>Bahá'í Web Search</name>

    <description>
Search the Bahá'í Texts and Holy Writings in both English and Spanish.

Needs Internet connection.

This App uses the http://BahaiResearch.com/ service to search through the Bahá'í Writings.

The Bahá'í Research service offers the following description: "The content is growing constantly and is maintained by various NSAs and trusted librarians."
    </description>

    <author href="http://about.me/thomaswoodard" email="tommywoods@gmail.com">
        Thomas Woodard
    </author>

</widget>
