<!DOCTYPE html> 
<html> 
	<head> 
	<title>Bahá'í Writings - Favorites</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<script src="phonegap.js"></script>
	<link rel="stylesheet" href="jquery.mobile-1.2.0/jquery.mobile.structure-1.2.0.min.css" />
    <link rel="stylesheet" href="bahai-search.min.css" />
    <link rel="stylesheet" href="search-result-formatting.css" />
	<script type="text/javascript" src="jquery.mobile-1.2.0/jquery-1.8.2.min.js"></script>
	<script type="text/javascript">
      var baseUrl = "http://find.bahai.org.ve"
      $(document).bind("mobileinit", function(){
        $.mobile.defaultDialogTransition = "none"
      });
    </script>  
	<script type="text/javascript" src="jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="bahai-search.js"></script>
</head> 
<body> 

<div data-role="page" data-theme="c" id="Collections">

	<div data-role="header" data-theme="c">
		<h1 style="font-size:14px" class="i18n">Favorites</h1>
        <a data-role="button" data-rel="back" data-icon="arrow-l" href="#"  class=" ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Back"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span></span></a>
        <a data-direction="reverse" data-iconpos="notext" data-icon="home" href="index.html" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow">&nbsp;</span></span></a>
	</div><!-- /header -->

	<div data-role="content">
        <div id="favorites">You have not saved any favorites yet.</div>
        <!-- Template -->
        <script type="text/template" id="collectionListTemplate">
            <ul data-role="listview" id="collectionList">
                <% _.each(savedFavorites,function(fragmentCollection){%>
                <li><a href="#" data-query="<%= fragmentCollection[0].query %>"><%= fragmentCollection[0].query %> <span class="ui-li-count"><%= fragmentCollection.length %></span></a></li>
                <% })%>
            </ul>
        </script>
        <!-- /template -->
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-id="navigationFooter">
       <div data-role="navbar" >
            <ul>
                <li><a href="index.html" data-icon="search" data-theme="c" data-ajax="false">Search</a></li>
                <li><a href="favorites.html" data-icon="star" data-theme="c" class="ui-btn-active ui-state-persist">Favorites</a></li>
                <li><a href="history.html" data-icon="back" data-theme="c" data-ajax="false">History</a></li>
                <li><a href="configuration.html" data-icon="gear" data-theme="c" data-ajax="false">Config</a></li>
            </ul>
        </div><!-- /navbar -->
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" data-theme="c" id="DocumentListing">

	<div data-role="header" data-theme="c">
		<h1 style="font-size:14px" class="i18n page-title">Favorites</h1>
        <a data-role="button" data-rel="back" data-icon="arrow-l" href="#"  class=" ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Back"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span></span></a>
        <a data-direction="reverse" data-iconpos="notext" data-icon="home" href="index.html" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow">&nbsp;</span></span></a>
	</div><!-- /header -->

	<div data-role="content" class="favorite-document-content">
        <div class="list"></div>
        <!-- Template -->
        <script type="text/template" id="documentListTemplate">
            <ul data-role="listview" id="documentList">
                <% _.each(documents,function(documentInfo){ %>
                <li><a href="#" data-paragraphid="<%= documentInfo.paragraphID %>"><%= documentInfo.folderTitle %>:<%= documentInfo.document %></a></li>
                <% })%>
            </ul>
        </script>
        <!-- /template -->
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-id="navigationFooter">
       <div data-role="navbar" >
            <ul>
                <li><a href="index.html" data-icon="search" data-theme="c" data-ajax="false">Search</a></li>
                <li><a href="favorites.html" data-icon="star" data-theme="c" class="ui-btn-active ui-state-persist">Favorites</a></li>
                <li><a href="history.html" data-icon="back" data-theme="c" data-ajax="false">History</a></li>
                <li><a href="configuration.html" data-icon="gear" data-theme="c" data-ajax="false">Config</a></li>
            </ul>
        </div><!-- /navbar -->
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" data-theme="c" id="DocumentView">

	<div data-role="header" data-theme="c">
		<h1 style="font-size:14px" class="i18n">Favorites</h1>
        <a data-role="button" data-rel="back" data-icon="arrow-l" href="#"  class=" ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Back"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span></span></a>
        <a data-direction="reverse" data-iconpos="notext" data-icon="home" href="index.html" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-f" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="f" title="Home"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow">&nbsp;</span></span></a>
	</div><!-- /header -->

	<div data-role="content">
        <div class="document"></div>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-id="navigationFooter">
       <div data-role="navbar" >
            <ul>
                <li><a href="index.html" data-icon="search" data-theme="c" data-ajax="false">Search</a></li>
                <li><a href="favorites.html" data-icon="star" data-theme="c" class="ui-btn-active ui-state-persist">Favorites</a></li>
                <li><a href="history.html" data-icon="back" data-theme="c" data-ajax="false">History</a></li>
                <li><a href="configuration.html" data-icon="gear" data-theme="c" data-ajax="false">Config</a></li>
            </ul>
        </div><!-- /navbar -->
	</div><!-- /footer -->
</div><!-- /page -->


<script type="text/javascript" src="i18n.js"></script>
</body>
</html>