@font-face {
    font-family: "OpenSans Regular";
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Sanchez Regular";
    src: url(fonts/Sanchez-Regular.ttf);
}
.ptf{
    background-color:#E6E6E6;
    padding: 7px;
    border-left: #CFCFCF solid 3px;
}
#FragmentContext,.document{
    font-family:"Sanchez Regular",Helvetica,sans-serif;
    color:#4D4447;
}
.foundterm{
    background-color:#FAFFBF;
}
p{
    margin: 10px;
}
.ptf p{
    margin: 0px;
}
.ui-li-desc {
    white-space:normal;
}
.ui-li-divider .ui-li-count, .ui-li-static .ui-li-count {
    right: 35px;
}
#FragmentsPage li.ui-btn, #DocumentsPage li.ui-btn{
     padding: 15px;
}
#messagePopup{
    padding:15px 30px
}
#DocumentView .ui-content{
    background-color:white;
    color:black;
}
.ui-header{
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: -8px;
}